<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">YTDownloader</span>
    <span class="navbar-brand mb-0 p"><a href="https://bit.ly/35vNKzi" style="text-decoration: none;">About Us</a></span>
  </div>
</nav>
<div class="input-group mb-3 yt-url">
  <span class="input-group-text" id="basic-addon3">Enter Youtube Video URL</span>
  <input type="text" class="form-control" id="basic-url" #urlInput>
</div>
<button type="button" class="btn btn-success yt-url" (click)="downloadImg(urlInput.value)">Download</button>
<div *ngIf="show" class="yt-img">
  <a href={{finalUrl}} download>
    <img style="max-width: 80%; margin-left: 10%;" src={{finalUrl}} >
</a>
</div>